{% from "macros.html" import form_filed %}
{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock%}

{% block content%}
    <div class="text-center" style="margin: 20px">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{form_filed(form, "username")}}

            {{form_filed(form, "password")}}

            {{ form.submit(class='btn btn-outline-success', onclick='submit_()') }}
            <input class="btn btn-outline-success" onclick=submit_()>
            {% if form.new_errors['csrf_token']%}
                <small class="form-text text-muted ">
                    Please Try Again
                </small>
            {% endif%}
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
    function submit_() {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState === 4 && this.status === 200) {
            console.log('done')
        }
      xhttp.open("POST", "/api/login", true);
      xhttp.setRequestHeader("Content-Type", "application/json");
      body = {"session_token": {{form.csrf_token.data}}};
      xhttp.send(JSON.stringify(body));
    }
    }
        if ( window.history.replaceState ) {window.history.replaceState( null, null, window.location.href );}
    </script>
{% endblock %}