<h5> Brand : {{ product.brand }} </h5>
<img src="{{ product.img.replace('300x300','400x400').replace('600x600','400x400').replace('650x650','400x400') }}" alt="cookies" class="img-fluid"/>
<h6> Name : {{ product.name_en }} </h6>
<div> Price : {{ product.price }} $</div>
{% if product.owner == current_user.id %}
    <form action="/delete-{{product.id}}" method="POST">
        <button class="btn btn-outline-success" type="submit" style="width: 50%"> Delete </button>
    </form>
{% elif product.owner %}}

{% else %}
    <form action="/buy-{{product.id}}" method="POST">
        <button class="btn btn-outline-success" type="submit" style="width: 50%"> Buy </button>
    </form>
{% endif %}

<p> Desk : {{ product.desk_en }} </p>
{% if product.other_img.split('\n')|length > 1 %}

    {% for img in product.other_img.split('\n') %}
        <img src="{{ img }}" alt="cookies"/>
    {% endfor %}

{% endif %}
