{% from "macros.html" import form_filed %}

{% extends 'base.html' %}
{% block title %}
    Registration Page
{% endblock%}

{% block content%}
    <div class="" style="margin: 20px">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            {{form_filed(form, 'username')}}

            {{form_filed(form, 'email')}}

            {{form_filed(form, 'password')}}

            {{form_filed(form, 'confirm')}}

            <div class="form-group">
                {{ form.accept_tos }}
                {{ form.accept_tos.label }}
            </div>

            {{ form.submit(class='btn btn-outline-success') }}
            {% if form.new_errors['csrf_token']%}
                <small class="form-text text-muted ">
                    Please Try Again
                </small>
            {% endif%}

        </form>
    </div>
{% endblock %}